@model ExternalLoginViewModel

<section class="register">
    <div class="container register__container">
        <form asp-controller="User" asp-action="RegisterExternal" method="post" class="login__form">
            <input type="hidden" asp-for="returnUrl" />
            <h3 class="login__title">E-Mail:</h3>
            <div class="login__input">
                <input asp-for="@Model.Email" type="text" class="login__input-area" />
            </div>
            <h3 class="login__title">Ваш никнейм:</h3>
            <div class="login__input">
                <input asp-for="@Model.UserName" type="text" class="login__input-area" />
            </div>
            <button type="submit" class="register__btn">Save</button>
        </form>
    </div>
</section>